.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.main-heading {
  font-size: 16px;
  font-family: 'sans-serif';
  font-weight: 500;
  color: #171f46;
}

.heading {
  color: #0967d2;
  font-family: 'sans-serif';
  font-weight: 900;
}
